.sidebar {
  width: 220px;
  background-color: #1e293b;
  color: white;
  padding: 30px 20px;
  min-height: 100vh;
}

.sidebar-title {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: bold;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin-bottom: 15px;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar-menu li:hover {
  background-color: #334155;
}

.sidebar-menu .active {
  background-color: #2563eb;
}